.announcement {
    text-align: center;
    font-size: 35px;
    font-family: "burlingtonScript-italic";
}

.site-title {
    font-family: Dynalight;
}

.site-author {
    font-family: "burlingtonScript-italic";
}
