<script src="https://cdnjs.com/libraries/bodymovin" type="text/javascript"></script>

<div id="coffee" style="float: left;"></div>
<script>
    var animation = bodymovin.loadAnimation({
    container: document.getElementById('coffee'), // Required
    path: 'https://maxst.icons8.com/vue-static/landings/animated-icons/icons/coffee/coffee.json', // Required
    renderer: 'svg', // Required
    loop: true, // Optional
    autoplay: true, // Optional
    // name: "Hello World", // Name for future reference. Optional.
    })
</script>

<div id="mug" style="float: left;"></div>
<script>
    var animation = bodymovin.loadAnimation({
    container: document.getElementById('mug'), // Required
    path: 'https://maxst.icons8.com/vue-static/landings/animated-icons/icons/mug/mug.json', // Required
    renderer: 'svg', // Required
    loop: true, // Optional
    autoplay: true, // Optional
    // name: "Hello World", // Name for future reference. Optional.
    })
</script>