---
layout: compress
title: Home
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
{% include nav.html %}
<!-- Header -->
< class="header flex" role="banner">
    <div class="container animated fadeIn">
        <div class="row">
            <a href="{{ site.url }}">
                <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
            </a>
            <h3 class="title">
                <a class="zoombtn" href="{{ site.url }}">
                    <h1>{{ site.title }}</h1>
                </a>
            </h3>

            <h3 class="title">
                <a href="{{ site.url }}">
                    <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                </a>
            </h3>

            <h3 class="title">
                <a class="btn zoombtn" href="https://github.com/Riumin/espresso">Repository</a>
                <a class="btn zoombtn" href="https://blog.csdn.net/LeoShaun">CSDN Blog</a>
            </h3>
        </div>

        <div class="post-list">
            <p style="font-size:20px">Moat Recent Posts</p>
            {% for post in site.posts %}
            <hr class="hr-line">
            {% if post.project == null %}
            <ul>
                <li class="wow fadeInLeft" data-wow-duration="1.5s">
                    <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time> <br/>
                    <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    <p>{{ post.excerpt }}</p>

                </li>
            </ul>
            {% endif %}

            {% for tag in page.tags %}
            {% unless forloop.last %}
            <a href="{{ site.url }}/tags/#{{ tag }}" title="Pages tagged {{ tag }}" class="btm zoombtn">{{ tag }}</a>
            {% endunless %}
            {% endfor %}

            {% endfor %}

        </div>
    </div>







</header>
{% include scripts.html %}
</body>



</html>

