<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="main">
    <div class="container">
        {{ content }}
    </div>
    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{% include footer.html %}
<!-- d3 function plot cdn-->
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>
    <script src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>

        <!-- katex-element works as the supplenment of katex im remote CDN, the plugin stored in repository-->
        <script src="{{ site.plgrepo }}/katex-element-master/dist/katex-element.umd.js" type="module"></script>

        <!-- here store katex from cdn to repo and redirect the address to repo on July 24, 2019-->
        <link rel="stylesheet" href="{{ site.plgrepo }}/katex@0.10.2/dist/katex.css" integrity="sha384-yFRtMMDnQtDRO8rLpMIKrtPCD5jdktao2TV19YiZYWMDkUR5GQZR/NOVTdquEx1j" crossorigin="anonymous">
            <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="{{ site.plgrepo }}/katex@0.10.2/dist/katex.js" integrity="sha384-9Nhn55MVVN0/4OFx7EE5kpFBPsEMZxKTCnA+4fqDmg12eCTqGi6+BB2LjY8brQxJ" crossorigin="anonymous"></script>
            <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="{{ site.plgrepo }}/katex@0.10.2/dist/contrib/auto-render.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    
        <!-- here store mermaid from cdn into repo and redirect the address to repo on July 22, 2019 -->
        <script src="{{ site.plgrepo }}/mermaid@7.1.0/dist/mermaid.js"></script>
    
        <!-- algolia cdn -->
        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
</body>

</html>
